@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.section {
  margin-top: 6vh;
}

.subsection {
  margin-top: 2.5vh;
}

.section-header {
  margin-bottom: -1vh;
}

.subsection-header {
  margin-bottom: 1.5vh;
  margin-top: 3vh;
}

.header {
  margin-bottom: 2.5vh;
}

a {
  color: #1289A7;
  text-decoration: underline;
}

a:hover {
  color: #1289A7;
}